<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
</head>
<body link="#ffcc00" vlink="#ffcc00" alink="#ff0000">
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="{% url 'students' %}">Студенты</a>
      <a href="{% url 'tasks' %}">Задания</a>
      <a href="/admin/">Админка</a>
    </div>

    <!-- Page content -->
    <div class="main">
      {% block content %}{% endblock %}
    </div>
</body>
</html>