{% extends 'core/base.html' %}

{% block content %}

<div>
  <h2>Новая задача</h2>
  <hr>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Создать">
  </form>
</div>

{% endblock %}
