{% extends 'core/base.html' %}

{% block content %}
    <form method="GET">
        <input name="search_name">
        <input type="submit" value="Поиск">
    </form>

    <table align="center" style="width: 90%; padding: 10px;">
  <tr>
    <th style="width: 5%;">№</th>
      <th style="width: 40%;"><a href="{% url 'students' %}?sort_by=last_name">Студент</a></th>
    <th style="width: 20%;">Контакт</th>
    <th style="width: 14%;"><a href="{% url 'students' %}?sort_by=tasks">Всего заданий</a></th>
    <th style="width: 14%;">Заданий с просроченным дедлайном</th>
    <th style="width: 5%;"></th>
  </tr>
      {% for student in students %}
        <tr>
          <td>{{ forloop.counter }}</td><td><a href="{% url 'student' id=student.id %}">{{ student }}</a> </td><td>{{ student.contact }}</td>
            <td>{{ student.tasks.count }}</td><td>{{ student.get_out_of_deadline_tasks.count }}</td><td>x</td>
        </tr>
      {% endfor %}
</table>
{% endblock %}