{% extends 'core/base.html' %}

{% block content %}
<table align="center" style="width: 90%; padding: 10px;">
<caption>Проекты студента {{ student }}</caption>
  <tr>
    <th style="width: 4%;">№</th>
    <th style="width: 50%;">Проект</th>
    <th style="width: 23%;">Дата создания</th>
  </tr>
    {% for project in student.projects.all %}
  <tr>
    <td>{{ forloop.counter }}</td><td><a href="https://{{ project.url }}">{{ project.url }}</a></td><td>{{ project.dc }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<table align="center" style="width: 90%; padding: 10px;">
    <caption>Задачи студента {{ student }}</caption>
  <tr>
    <th style="width: 4%;">№</th>
    <th style="width: 50%;">Задача</th>
    <th style="width: 23%;">Дата создания</th>
    <th style="width: 23%;">Дедлайн</th>
  </tr>
    {% for task in tasks %}
  <tr>
    <td>{{ forloop.counter }}</td><td>{{ task.title }}</td><td>{{ task.dc }}</td><td>{{ task.deadline }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}