{% extends 'core/base.html' %}

{% block content %}
<a style="margin-left: 2%;" href="{% url 'create_task' %}"><button>Новая задача</button></a>
<table align="center" style="width: 90%; padding: 10px;">
  <tr>
    <th style="width: 5%;">№</th>
    <th style="width: 60%;">Название</th>
    <th style="width: 14%;">Дедлайн</th>
  </tr>
      {% for task in tasks %}
        <tr>
          <td>{{ forloop.counter }}</td><td><a href="{% url 'task' id=task.id %}">{{ task }}</a> </td>
            <td>{{ task.deadline }}</td>
        </tr>
      {% endfor %}
</table>
{% endblock %}